# DNA

In [1]:
dna = 'ATCG'
def DNA_strand(dna):
    dna = dna.replace('A', 't').replace('C', 'g').replace('G','c').replace('T','a')
    return dna.upper()
print DNA_strand(dna)

TAGC

In [21]:
dna = 'ATCG'
def DNA_strand(dna):
    dnadict = {'A':'T', 'C':'G', 'G':'C', 'T':'A'}
    return ''.join([dnadict[cnt] for cnt in dna])
    #for cnt in dna:
    #    print dnadict[cnt]
print DNA_strand(dna)

TAGC

# Even or Odd: 
Create a function that takes an integer as an argument and returns "Even" for even numbers or "Odd" for odd numbers.

In [5]:
def even_or_odd(number):
    if number%2 == 0:
        return "Even"
    elif number%2 != 0:
        return "Odd"

even_or_odd(7)

'Odd'

In [7]:
def even_or_odd(number):
    return 'Even' if number%2 == 0 else 'Odd'

even_or_odd(0)

'Even'

# Find the next perfect square! 

You might know some pretty large perfect squares. But what about the NEXT one?
Complete the findNextSquare method that finds the next integral perfect square after the one passed as a parameter. Recall that an integral perfect square is an integer n such that sqrt(n) is also an integer.
If the parameter is itself not a perfect square, than -1 should be returned. You may assume the parameter is positive.

In [43]:
def find_next_square(sq):
    # Return the next square if sq is a square, -1 otherwise
    try:
        if sq%(sq**(0.5)) == 0:
            #print "true", sq**(.50)
            sq_new = (sq**(0.5) + 1)**2
            return sq_new
        else:
            return -1
    except 'ZeroDivisionError: float modulo':
        pass

find_next_square(121)

144.0

In [48]:
def find_next_square(sq):
    root = sq**(0.5)
    if root.is_integer():
        return (root+1)**2
    return -1
find_next_square(144)

169.0

In [67]:
def find_next_square(sq):
    x = sq**(0.5)
    print x
    return -1 if x%1 else (x+1)**2 
find_next_square(121)

11.0

144.0

In [71]:
import math
def find_next_square(sq):
    x = (float(math.sqrt(sq)))
    if x%1 == 0:
        return pow(int(x)+1,2)
    return -1
find_next_square(122)

-1

# Growth of a Population
In a small town the population is p0 = 1000 at the beginning of a year. The population regularly increases by 2 percent per year and moreover 50 new inhabitants per year come to live in the town. How many years does the town need to see its population greater or equal to p = 1200 inhabitants?

In [101]:
def nb_year(p0, percent, aug, p):
    count = 0
    while p0 < p:
        p0 += (p0 * percent/100.0) + aug
        count += 1
    return count

nb_year(1500, 5, 100, 5000)

15

# Find the odd int
Given an array, find the int that appears an odd number of times.
There will always be only one integer that appears an odd number of times.

# Sum without highest and lowest number
Sum all the numbers of the array except the highest and the lowest element (the value, not the index!).
(The highest/lowest element is respectively only one element at each edge, even if there are more than one with the same value!)

In [165]:
def sum_array(arr):
    if arr == None or len(arr) < 3:
        return 0
    else:
        arr.remove(max(arr))
        arr.remove(min(arr))
        return sum(arr)
sum_array([1,2])

0

In [166]:
def sum_array(arr):
    if arr == None or len(arr) < 3:
        return 0
    return sum(arr) - max(arr) - min(arr)
sum_array([1,2,10])

2

In [172]:
def sum_array(arr):
    return 0 if arr == None else sum(sorted(arr[1:-1]))
sum_array([1,2,10])

2

In [184]:
def sum_array(arr):
    if arr is None or len(arr) < 2:
        return 0
    mi, ma, s = arr[0], arr[0], 0
    for x in arr:
        if x > ma:
            ma = x
        elif x < mi:
            mi = x
        s += x
    return s - mi - ma
sum_array([11,1,2,10])

12

# Vowel Count:
Return the number (count) of vowels in the given string.
We will consider a, e, i, o, and u as vowels for this Kata.

In [201]:
def getCount(inputStr):
    num_vowels = 0
    for char in inputStr:
        if char in "aeiou":
            num_vowels += 1
    return num_vowels
getCount("abracadabra")

5

In [ ]:
def getCount(inputStr):
    return sum(char in 'aeiou' for char in inputStr)
getCount("abracadabra")

# Double Char
Given a string, you have to return a string in which each character (case-sensitive) is repeated once.

In [19]:
def double_char(s):
    first = ''
    for word in s:
        for char in word:
            first += first.join(char)
            first += first.join(char)
    return first
double_char("Hello World")

'HHeelllloo  WWoorrlldd'

In [12]:
def double_char(s):
    double = ''
    for c in s:
        double += ''.join(c*2)
    return double
double_char("Hello World")

'HHeelllloo  WWoorrlldd'

In [21]:
def double_char(s):
    return ''.join(c*2 for c in s)
double_char("Hello World")

'HHeelllloo  WWoorrlldd'

# Printer Errors
In a factory a printer prints labels for boxes. For one kind of boxes the printer has to use colors which, for the sake of simplicity, are named with letters from a to m.

The colors used by the printer are recorded in a control string. For example a "good" control string would be aaabbbbhaijjjm meaning that the printer used three times color a, four times color b, then one time color a...

Sometimes there are problems: lack of colors, technical malfunction and a "bad" control string is produced e.g. aaaxbbbbyyhwawiwjjjwwm.

You have to write a function printer_error which given a string will output the error rate of the printer as a string representing a rational whose numerator is the number of errors and the denominator the length of the control string. Don't reduce this fraction to a simpler expression.

The string has a length greater or equal to one and contains only letters from ato z.

In [199]:
from fractions import Fraction
def printer_error(s):
    fraction = ''
    num = 0
    den = len(s)
    for char in s:
        if char not in 'abcdefghijklm':
            num += len(char)
    #f = Fraction(num,den)
    den = str(den)
    num = str(num)
    fraction = ''.join(num)
    fraction += ''.join('/')
    fraction += ''.join(den)
    return fraction
            
printer_error('aaabbbbhaijjjmxx')

'2/16'

In [204]:
def printer_error(s):
    return "{}/{}".format(len([char for char in s if char not in 'abcdefghijklm']), len(s))
printer_error('aaabbbbhaijjjmxx')

'2/16'

# Format a string of names like 'Bart, Lisa & Maggie'.
Given: an array containing hashes of names

Return: a string formatted as a list of names separated by commas except for the last two names, which should be separated by an ampersand.

In [352]:
def namelist(names):
    new_list = ''
    for i in range(len(names)-2):
        new_list += ''.join((names[i]['name'], ', '))
    for i in range(len(names))[-2:-1]: 
        new_list += ''.join((names[i]['name'],' & '))
    for i in range(len(names))[-1:]:
        new_list += ''.join((names[i]['name']))
    return new_list
namelist([ {'name': 'Bart'}, {'name': 'Lisa'}, {'name': 'Maggie'} ])

'Bart, Lisa & Maggie'

In [348]:
def namelist(names):
    if len(names) == 0: return ''
    if len(names) == 1: return names[0]['name']
    return ', '.join([n['name'] for n in names[:-1]]) + ' & ' + names[-1]['name']
namelist([ {'name': 'Bart'}, {'name': 'Lisa'}, {'name': 'Maggie'} ])

'Bart, Lisa & Maggie'

In [408]:
def namelist(names):
    for n in names[:-1]:
        print n['name']
namelist([ {'name': 'Bart'}, {'name': 'Lisa'}, {'name': 'Maggie'} ])

Bart
Lisa

In [423]:
def namelist(names):
    if len(names) > 1:
        return ('{} & {}').format(', '.join(n['name'] for n in names[:-1]), names[-1]['name'])
namelist([ {'name': 'Bart'}, {'name': 'Lisa'}, {'name': 'Maggie'} ])

'Bart, Lisa & Maggie'

# Replace With Alphabet Position
Welcome. In this kata you are required to, given a string, replace every letter with its position in the alphabet. If anything in the text isn't a letter, ignore it and don't return it. a being 1, b being 2, etc. As an example:

In [472]:
def alphabet_position(text):
    textdict = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6, 'g':7, 'h':8, 'i':9, \
                'j':10, 'k':11, 'l':12, 'm':13, 'n':14, 'o':15, 'p':16, 'q':17, \
                'r':18, 's':19, 't':20, 'u':21, 'v':22, 'w':23, 'x':24, 'y':25, 'z':26}
    new_text = ''
    for letter in text[:-1]:
        if letter in "abcdefghijklmnopqrstuvwxyz":
            new_text += str(textdict[letter]) + ' '
            #new_text += new_text.join(textdict[letter])
        else:
            pass
    for letter in text[-1]:
        if letter in "abcdefghijklmnopqrstuvwxyz":
            new_text += str(textdict[letter])
            #new_text += new_text.join(textdict[letter])
        else:
            pass   
    return new_text
alphabet_position("abcde")

'1 2 3 4 5'

In [476]:
def alphabet_position(text):
    return ' '.join( str(ord(c) - 96) for c in text.lower() if c.isalpha())
alphabet_position("abcde")

'1 2 3 4 5'

In [487]:
def alphabet_position(text):
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    new = ''
    for letter in text:
        print letter
        new += str(alphabet.index(letter) + 1)
    return new
alphabet_position("abcde")

a
b
c
d
e

'12345'